<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.soninlawisdice.mapper.AdminMapper">


	<!-- ================================================List 출력====================================================== -->

	
	
	<select id="memberList" resultType="com.soninlawisdice.vo.MemberVO" parameterType="com.soninlawisdice.vo.SearchCriteria">

	SELECT * FROM
	(
         SELECT m_no, m_id, m_pw, m_name, m_birth, m_nick,
			m_gender, m_point, m_phone, m_email, m_post, m_addr1, m_addr2,
			r_no, m_re_sms, m_re_notice, m_re_message, m_info, m_self,
			m_indate, m_outdate, m_out, m_report_num, m_extra, f_no,
		               ROW_NUMBER() OVER(ORDER BY m_no DESC) AS RNUM
		         FROM member 
		         WHERE 1=1
		         <include refid="member_search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY m_no DESC

	</select>
	
	
	<select id="reportList" resultType="java.util.HashMap" parameterType="com.soninlawisdice.vo.SearchCriteria">

	SELECT * FROM
	(
         SELECT r_no, m_no, r_type, r_type_no, r_content,r_report_date,
		               ROW_NUMBER() OVER(ORDER BY r_no DESC) AS RNUM
		         FROM report 
		         WHERE 1=1
		       <!--   <choose>
		         	<when test="r_type == '회원'">
		         		r_type 
		         	</when>
		         
		         </choose> -->
		         
		         <include refid="report_search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY r_no DESC

	</select>
	
	
	
	
	<select id="boardList" resultType="java.util.HashMap" parameterType="com.soninlawisdice.vo.SearchCriteria">

	SELECT * FROM
	(
         SELECT bw.bw_no, m.m_no, m.m_id, bt.bt_name, s.s_content , bw.bw_title, bw.bw_content, bw.bw_written_date, bw.bw_updated_date, bw.bw_report_num, bw.bw_island,
		               ROW_NUMBER() OVER(ORDER BY bw.bw_no DESC) AS RNUM
		          FROM board_write bw
                 INNER JOIN subject s
                 ON bw.s_no=s.s_no
                 INNER JOIN board_type bt
                 ON bw.bt_no = bt.bt_no
                INNER JOIN member m
                ON bw.m_no=m.m_no
		         <include refid="board_search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY bw_no DESC

	</select>
	
	<select id="wd_recordList" resultType="java.util.HashMap"  parameterType="com.soninlawisdice.vo.SearchCriteria">

	SELECT * FROM
	(
         SELECT  m.m_no, m.m_id, m.m_outdate, w.w_no, w.w_reason, wr.wr_reason,
		               ROW_NUMBER() OVER(ORDER BY m.m_no DESC) AS RNUM
		         FROM wd_record wr, member m, withdrawal w 
		         WHERE m.m_no = wr.m_no and w.w_no = wr.w_no and w.w_no = 5
		         <include refid="withdrawer_search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		<!-- ORDER BY m_no DESC -->

	</select>
	<!-- 탈퇴 사유 w_no중 5(주관적사유,기타)를 고른 항목만 출력 -->
	
	
	<select id="cafe_reviewList" resultType="java.util.HashMap" parameterType="com.soninlawisdice.vo.SearchCriteria">
			
			SELECT * FROM (
				SELECT cr.cr_no, c.c_title, m.m_id, cr.cr_title, cr.cr_content, cr.cr_written_date, cr.cr_updated_date, cr.cr_hit,
				cr.cr_report_num, cr.cr_island, cr.bt_no,
				ROW_NUMBER() OVER(ORDER BY m.m_no DESC) AS RNUM
				FROM cafe_review cr
				INNER JOIN board_type bt
				ON cr.bt_no = bt.bt_no
				INNER JOIN member m
				ON cr.m_no = m.m_no
				INNER JOIN cafe c
				On cr.c_no = c.c_no
				<include refid="cafe_review_search"></include>
			)MP
			WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
			ORDER BY cr_no DESC
			
			
			
	
	
	</select>
	
	
	<!-- =============================================== 탈퇴 사유 통계 ====================================================== -->	
	
	<select id="wdData" resultType="java.util.HashMap" >
		select  w.w_reason ,w.w_no, count(*) as w_no_count FROM wd_record wr, withdrawal w 
		         WHERE w.w_no = wr.w_no group by w.w_no, w.w_reason
	
	</select>
	
	
	
	
	<select id="board_listCount" parameterType = "com.soninlawisdice.vo.SearchCriteria" resultType="int">

		SELECT COUNT(bw_no)
		  FROM board_write
		 WHERE 1=1
		 <include refid="board_search"></include>	
		 AND bw_no > 0

	</select>
	
	<sql id="board_search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND bw_title LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND bw_content LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND m_no LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (bw_title LIKE '%' || #{keyword} || '%') or (bw_content LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	
	<select id="cafe_review_listCount" parameterType = "com.soninlawisdice.vo.SearchCriteria" resultType="int">

		SELECT COUNT(cr.cr_no)
		  FROM cafe_review cr
		 WHERE 1=1
		 <include refid="cafe_review_search"></include>	
		 AND cr.cr_no > 0

	</select>
	
	<sql id="cafe_review_search">
		<if test="searchType != null">
			<if test="searchType == 'a'.toString()">AND c.c_title LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'b'.toString()">AND cr.cr_title LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND cr.cr_content LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'd'.toString()">AND m.m_id LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'bc'.toString()">AND (cr.cr_title LIKE '%' || #{keyword} || '%') or (cr.cr_content LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	
	
	
	<select id="member_listCount" parameterType = "com.soninlawisdice.vo.SearchCriteria" resultType="int">
		SELECT COUNT(m_no)
		  FROM member
		 WHERE 1=1
		 <include refid="member_search"></include>	
		 AND m_no > 0

	</select>
	
	<sql id="member_search">
		<if test="searchType != null">
			<if test="searchType == 'a'.toString()">AND m_id LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'b'.toString()">AND m_name LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND m_nick LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'd'.toString()">AND r_no LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
	
	
	
	<select id="report_listCount" parameterType = "com.soninlawisdice.vo.SearchCriteria" resultType="int">

		SELECT COUNT(r_no)
		  FROM report
		 WHERE 1=1
		 <include refid="report_search"></include>	
		 AND r_no > 0

	</select>
	
	<sql id="report_search">
		<if test="searchType != null">
			<if test="searchType == 'a'.toString()">AND m_no LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'b'.toString()">AND r_type_no LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND r_content LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
	
	
	
	
	<select id="wd_record_listCount" parameterType = "com.soninlawisdice.vo.SearchCriteria" resultType="int">

		 SELECT  COUNT (w.w_no) FROM wd_record wr, member m, withdrawal w 
		         WHERE m.m_no = wr.m_no and w.w_no = wr.w_no and w.w_no = 5
		 <include refid="withdrawer_search"></include>
		 		 AND w.w_no > 0

	</select>
	
	<sql id="withdrawer_search">
		<if test="searchType != null">
			<if test="searchType == 'a'.toString()">AND m.m_id LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'b'.toString()">AND wr.wr_reason LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
	
	
	
	
<!-- =============================================== 신고게시판 글 보기 타입분류 ====================================================== -->	
	
	<select id="selectReportView" resultType="java.util.HashMap">

		<!--  select  r.r_no, r.m_no, r.r_type, r.r_type_no, r.r_content, r.r_report_date, m.m_id
			from report r,member m
				where r.m_no=m.m_no and r.r_no=#{r.r_no} -->
		                           
		<!-- select r.r_no, r.m_no, m.m_id, r.r_content, r.r_report_date, bw.bw_title, cm.cm_content, r.r_type, r.r_type_no, bw.bw_title, bw.bw_report_num
		from report r,member m, board_write bw, cm_comment cm 
		where r.m_no=m.m_no and r.r_type_no=cm.cm_no and r.r_type_no=bw.bw_no and r.r_no=#{r_no} and r.r_type=#{r_type} 		
		 -->		
		 
		 <choose>
			<when test="r_type == '게시글'">
				select r.r_no, r.m_no, m.m_id, r.r_content, r.r_report_date, r.r_type, r.r_type_no,
				bw.bw_title, bw.bw_report_num
				from report r, board_write bw, member m
				where  r.m_no= m.m_no and r.r_type_no = bw.bw_no 	and 
			</when>
			<when test="r_type == '댓글'">
				select r.r_no, r.m_no, m.m_id, r.r_content, r.r_report_date, r.r_type, r.r_type_no,
				cm.cm_content, cm.cm_report_num
				from report r, cm_comment cm, member m
				where r.m_no= m.m_no and r.r_type_no = cm.cm_no and 
			</when>
			<when test="r_type == '회원'">
				SELECT r.r_no, r.m_no, m1.m_id as m_id, r.r_content, r.r_report_date, r.r_type, r.r_type_no, m2.m_id as r_id, m1.m_report_num
				FROM report r
				LEFT JOIN member m1
				ON r.m_no=m1.m_no
				LEFT JOIN member m2
				ON r.r_type_no= m2.m_no	where
			</when>
		</choose>
		
			 r.r_no=#{r_no} 		

	</select>
	<!-- =============================================== 회원정보수정 ====================================================== -->	

	<update id="updateMember" parameterType="com.soninlawisdice.vo.MemberVO" >
		update member 
		set m_nick = #{memberVO.m_nick}, m_extra = #{memberVO.m_extra}, m_self = #{memberVO.m_self} 
		where m_no = #{memberVO.m_no}
	</update>
	



	<!-- =============================================== 회원정보수정 ====================================================== -->
	
	<update id="updateIsland_bw" parameterType="com.soninlawisdice.vo.Board_writeVO" >
		update board_write 
		set bw_island =  1 
		where bw_no = #{bw_no}
	</update>
	
	<update id="updateIsland_member" parameterType="com.soninlawisdice.vo.MemberVO" >
		update member
		set r_no =  4
		where m_no = #{m_no}
	</update>
	
	
	
	<!-- =============================================== 방문자수  ====================================================== -->
	
	<insert id="setTotalCount" parameterType="com.soninlawisdice.vo.VisitVO">
		INSERT INTO visit (v_date) VALUES (sysdate)
	</insert>
	
	<select id="getTodayCount" parameterType="com.soninlawisdice.vo.VisitVO" resultType="int">
		SELECT COUNT(*) AS TodayCount from VISIT
		WHERE TO_DATE(v_date, 'YYYY-MM-DD') = TO_DATE(sysdate, 'YYYY-MM-DD')
	</select>
	
	<select id="getTotalCount" parameterType="com.soninlawisdice.vo.VisitVO" resultType="int">
		SELECT COUNT(*) AS TotalCount FROM VISIT
	</select>
	
	
</mapper>