<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그 내부에 sql문을 넣으면 mybatis가 알아서 해준다.. -->
<mapper namespace="com.soninlawisdice.mapper.BoardMapper">
	
	<!-- 커뮤니티 게시판  -->
	<resultMap type="com.soninlawisdice.vo.Board_writeVO" 
		id="Board_writeVO">
		<result column="bw_no" property="bw_no" />
		<result column="bt_no" property="bt_no" />
		<result column="m_no" property="m_no" />
		<result column="s_no" property="s_no" />
		<result column="bw_title" property="bw_title" />
		<result column="bw_content" property="bw_content" />
		<result column="bw_written_date" property="bw_written_date" />
		<result column="bw_updated_date" property="bw_updated_date" />
		<result column="bw_hit" property="bw_hit" />
		<result column="bw_recommend_num" property="bw_recommend_num" />
		<result column="bw_report_num" property="bw_report_num" />
		<result column="bw_island" property="bw_island" />
		<result column="bw_secret" property="bw_secret" />
		
		<collection javaType="com.soninlawisdice.vo.MemberVO"
			property="memberVO">
			<id column="m_no" property="m_no" />
			<result column="m_nick" property="m_nick" />
		</collection>
		<collection javaType="com.soninlawisdice.vo.SubjectVO"
			property="subjectVO">
			<id column="s_no" property="s_no" />
			<result column="s_content" property="s_content" />
		</collection>
		<collection javaType="com.soninlawisdice.vo.Board_typeVO"
			property="board_typeVO">
			<id column="bt_no" property="bt_no" />
			<result column="bt_name" property="bt_name" />
		</collection>
	
	</resultMap>
	
	
	
	
	<!-- 메인 핫이슈, 베스트 부분 -->
	<!-- 핫이슈  : 조회순-->
	<select id="selectHotList" resultMap = "Board_writeVO">
		<![CDATA[ select * from (select * from board_write order by bw_hit desc) where rownum <= 10 ]]>
	</select>
	 
	<!-- 베스트 : 추천순 -->
	<select id = "selectBestList" resultMap = "Board_writeVO">
		<![CDATA[ select * from (select * from board_write order by bw_recommend_num desc) where rownum <= 10 ]]>
	</select>
	
	
	<!-- 커뮤니티 부분 -->
	
	
	
	<!-- 커뮤니티 전체보기 -->
	<select id = "selectBoardList" resultMap = "Board_writeVO">
		select bw.bw_no, m.m_nick, bw.s_no, bw.bw_title, bw.bw_written_date, bw.bw_hit, bw.bw_recommend_num
		from board_write bw, member m where bw.m_no = m.m_no 
		and bw_island = 0  
		order by bw_no desc
	</select>
	
	<!-- 보드이야기 전체 보기 -->
	<select id = "selectBoard_Story" resultMap = "Board_writeVO">
		select bw.bw_no, m.m_nick, s.s_content, bw.bw_title, bw.bw_written_date, bw.bw_hit, bw.bw_recommend_num
		from board_write bw, member m, subject s
		where bw.m_no = m.m_no and bw.s_no = s.s_no
		and bw.bw_island = 0
		and bw.bt_no = 1 
		order by bw.bw_no desc
	</select>
	
	<!-- 개봉기 및 리뷰 전체보기  -->
	<select id = "selectBoard_Open" resultMap = "Board_writeVO">
		select bw.bw_no, m.m_nick, s.s_content, bw.bw_title, bw.bw_written_date, bw.bw_hit, bw.bw_recommend_num
		from board_write bw, member m, subject s
		where bw.m_no = m.m_no and bw.s_no = s.s_no
		and bw.bw_island = 0
		and bw.bt_no = 2 
		order by bw.bw_no desc
	</select>
	
	<!-- 보드게임 모임 전체보기  -->
	<select id = "selectBoard_Meet" resultMap = "Board_writeVO">
		select bw.bw_no, m.m_nick, s.s_content, bw.bw_title, bw.bw_written_date, bw.bw_hit, bw.bw_recommend_num
		from board_write bw, member m, subject s
		where bw.m_no = m.m_no and bw.s_no = s.s_no
		and bw.bw_island = 0
		and bw.bt_no = 3
		order by bw.bw_no desc
	</select>
	
	<!-- 보드 뉴스 전체 보기  -->
	<select id = "selectBoard_News" resultMap = "Board_writeVO">
		select bw.bw_no, m.m_nick, s.s_content, bw.bw_title, bw.bw_written_date, bw.bw_hit, bw.bw_recommend_num
		from board_write bw, member m, subject s
		where bw.m_no = m.m_no and bw.s_no = s.s_no
		and bw.bw_island = 0
		and bw.bt_no = 4 
		order by bw.bw_no desc
	</select>
	
	<!-- 질문과 답변 전체보기  -->
	<select id = "selectBoard_Qna" resultMap = "Board_writeVO">
		select bw.bw_no, m.m_nick, s.s_content, bw.bw_title, bw.bw_written_date, bw.bw_hit, bw.bw_recommend_num
		from board_write bw, member m, subject s
		where bw.m_no = m.m_no and bw.s_no = s.s_no
		and bw.bw_island = 0
		and bw.bt_no = 5 
		order by bw.bw_no desc
	</select>
	
	<!-- 창작 보드게임 전체보기  -->
	<select id = "selectBoard_Creation" resultMap = "Board_writeVO">
		select bw.bw_no, m.m_nick, s.s_content, bw.bw_title, bw.bw_written_date, bw.bw_hit, bw.bw_recommend_num
		from board_write bw, member m, subject s
		where bw.m_no = m.m_no and bw.s_no = s.s_no
		and bw.bw_island = 0
		and bw.bt_no = 6 
		order by bw.bw_no desc
	</select>
	
	
	
	<!-- 게시글 작성하기  -->
	<!--회원 번호 넣는 거 어떻게 할건디  -->
	<!--비밀글 여부도  -->
	<!-- seq 테이블 만들어서 bw_no  -->
	<insert id="insertBoard" parameterType="com.soninlawisdice.vo.Board_writeVO">
		insert into board_write (bw_no, m_no, bt_no, s_no, bw_title, bw_content, bw_hit, bw_recommend_num, bw_report_num, bw_island, bw_secret) 
		values ( board_write_seq.nextval, 11, #{board_writeVO.bt_no}, #{board_writeVO.s_no},  #{board_writeVO.bw_title}, #{board_writeVO.bw_content}, 0, 0, 0, 0, 'n' ) 
	</insert>
	
	<!-- modify_view 로 불러오기 -->
	<select id = "modify_view" resultType = "com.soninlawisdice.vo.Board_writeVO">
		select bw_no, bt_no, s_no, bw_title, bw_content
		from board_write
		where bw_no = #{bw_no}
	</select>
	
	<!-- 글 수정하기 -->
	<update id="modify" parameterType="com.soninlawisdice.vo.Board_writeVO">
		update board_write set bt_no = #{board_writeVO.bt_no}, s_no = #{board_writeVO.s_no}, bw_title = #{board_writeVO.bw_title}, bw_content = #{board_writeVO.bw_content} where bw_no = #{board_writeVO.bw_no}
	</update>
	
	
	
	
	

	
	
	<!-- 카페 리뷰 테이블 -->
	
	<!-- 카페리뷰 게시판 -->
	<resultMap type="com.soninlawisdice.vo.Cafe_reviewVO" 
		id="Cafe_reivewVO">
		<result column="cr_no" property="cr_no" />
		<result column="bt_no" property="bt_no" />
		<result column="m_no" property="m_no" />
		<result column="c_no" property="c_no" />
		<result column="cr_title" property="cr_title" />
		<result column="cr_content" property="cr_content" />
		<result column="cr_written_date" property="cr_written_date" />
		<result column="cr_updated_date" property="cr_updated_date" />
		<result column="cr_hit" property="cr_hit" />
		<result column="cr_recommend_num" property="cr_recommend_num" />
		<result column="cr_report_num" property="cr_report_num" />
		<result column="cr_island" property="cr_island" />
		
		<collection javaType="com.soninlawisdice.vo.MemberVO"
			property="memberVO">
			<id column="m_no" property="m_no" />
			<result column="m_nick" property="m_nick" />
		</collection>
		<collection javaType="com.soninlawisdice.vo.CafeVO"
			property="cafeVO">
			<id column="c_no" property="c_no" />
			<result column="c_title" property="c_title" />
		</collection>
	
	</resultMap>
	
	
	
	<!-- 카페리뷰 리스트 전체보기 모든 카페에 관한 리뷰들 싹다-->
	<select id = "selectAllReviewList" resultMap = "Cafe_reivewVO">
		select cr.cr_no, m.m_nick, cr.cr_title, cr.cr_hit, cr.cr_written_date, cr.cr_recommend_num, cr.cr_hit, c.c_title  
		from cafe_review cr, member m, cafe c 
		where cr.m_no = m.m_no and cr.c_no = c.c_no
		order by cr.cr_no desc
	</select>
	
	<!-- 카페 리뷰 리스트에서 review_content_view 로-->
	<select id = "selectReviewOne" resultMap = "Cafe_reivewVO">
		select cr.cr_no, m.m_nick, cr.cr_title, cr.cr_content, cr.cr_hit, cr.cr_written_date, cr.cr_updated_date, cr.cr_recommend_num, cr.cr_hit, c.c_title 
		from cafe_review cr, member m, cafe c
		where cr.m_no = m.m_no and cr.c_no = c.c_no
		and cr_no = #{cr_no}
	</select>
	
	<!-- 카페별로 밑에 리뷰 리스트 있는거 -->
	<select id = "selectCafeReviewList" resultMap = "Cafe_reivewVO">
		select cr.cr_no, m.m_nick, cr.cr_title, cr.cr_hit, cr.cr_written_date, cr.cr_recommend_num, cr.cr_hit, c.c_title  
		from cafe_review cr, member m, cafe c 
		where cr.m_no = m.m_no and cr.c_no = c.c_no
		and cr.c_no = 1 <!-- #{c_no} -->
		order by cr.cr_no desc
	</select>
	
	<!-- 카페 정보 가져오기 -->
	<select id = "selectCafeInfo" resultType = "com.soninlawisdice.vo.CafeVO">
		select * from cafe where c_no = 1 <!-- #{c_no} -->
	</select>
	
	<!-- 카페 리뷰 조회수 올리기 -->
	<update id = "review_uphit">
		update cafe_review set cr_hit = cr_hit+1 where cr_no = #{cr_no}
	</update>
	
	<!-- 추천하기 눌렀을때 cr_recommend_num 증가하는 -->
	<update id = "review_recommend">
		update cafe_review set cr_recommend_num = cr_recommend_num+1 where cr_no = #{cr_no}
	</update>
	
	<!-- 추천하기 후 숫자 올라가는거 ajax 로 하기위한.  -->
	<select id="review_rec" resultType = "string">
		select cr_recommend_num from cafe_review where cr_no = #{cr_no}
	</select>
	
	<!-- 카페 번호로 카페 이름만 가져오기 -->
	<select id = "get_CafeName" resultType = "string">
		select c_title from cafe where c_no = #{c_no}
	</select>
	
	<!-- 회원번호:임시 -->
	<!-- 카페 리뷰 작성하기 -->
	<insert id="insertReview" parameterType="com.soninlawisdice.vo.Cafe_reviewVO">
		insert into cafe_review (cr_no, m_no, bt_no, c_no,  cr_title, cr_content, cr_hit, cr_recommend_num, cr_report_num, cr_island) 
		values ( cafe_review_seq.nextval, 5, 11, #{cafe_reviewVO.c_no}, #{cafe_reviewVO.cr_title}, #{cafe_reviewVO.cr_content}, 0, 0, 0, 0 ) 
	</insert>
	
	<!--리뷰 수정하기  -->
	<update id="review_modify">
		update cafe_review set cr_title = #{cafe_reivewVO.cr_title}, bw_content = #{cafe_reivewVO.cr_content} where cr_no = #{cafe_reivewVO.cr_no}
	</update>
	
	
	
</mapper>