<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그 내부에 sql문을 넣으면 mybatis가 알아서 해준다.. -->
<mapper namespace="com.soninlawisdice.mapper.BoardMapper">
	
	
	<!-- 메인 핫이슈, 베스트 부분 -->
	<!-- 핫이슈  : 조회순-->
	<select id="selectHotList" resultType = "com.soninlawisdice.vo.Board_writeVO">
		<![CDATA[ select * from (select * from board_write order by bw_hit desc) where rownum <= 10 ]]>
	</select>
	
	<!-- 베스트 : 추천순 -->
	<select id = "selectBestList" resultType = "com.soninlawisdice.vo.Board_writeVO">
		<![CDATA[ select * from (select * from board_write order by bw_recommended_num desc) where rownum <= 10 ]]>
	</select>
	
	
	
	<!-- 커뮤니티 부분 -->
	
	
	<!-- 커뮤니티 전체보기 -->
	<select id = "selectBoardList" resultType = "com.soninlawisdice.vo.Board_writeVO">
		select * from board_write order by bw_no desc
	</select>
	
	<!-- 보드이야기 전체 보기 -->
	<select id = "selectBoard_Story" resultType = "com.soninlawisdice.vo.Board_writeVO">
		select * from board_write where bt_no = 1  order by bw_no desc
	</select>
	
	<!-- 개봉기 및 리뷰 전체보기  -->
	<select id = "selectBoard_Open" resultType = "com.soninlawisdice.vo.Board_writeVO">
		select * from board_write where bt_no = 2  order by bw_no desc
	</select>
	
	<!-- 보드게임 모임 전체보기  -->
	<select id = "selectBoard_Meet" resultType = "com.soninlawisdice.vo.Board_writeVO">
		select * from board_write where bt_no = 3 order by bw_no desc
	</select>
	
	<!-- 보드 뉴스 전체 보기  -->
	<select id = "selectBoard_News" resultType = "com.soninlawisdice.vo.Board_writeVO">
		select * from board_write where bt_no = 4 order by bw_no desc
	</select>
	
	<!-- 질문과 답변 전체보기  -->
	<select id = "selectBoard_Qna" resultType = "com.soninlawisdice.vo.Board_writeVO">
		select * from board_write where bt_no = 5 order by bw_no desc
	</select>
	
	<!-- 창작 보드게임 전체보기  -->
	<select id = "selectBoard_Creation" resultType = "com.soninlawisdice.vo.Board_writeVO">
		select * from board_write where bt_no = 6 order by bw_no desc
	</select>
	
	
	
	<!-- 게시글 작성하기  -->
	<!--회원 번호 넣는 거 어떻게 할건디  -->
	<!--비밀글 여부도  -->
	<!-- seq 테이블 만들어서 bw_no  -->
	<insert id="insertBoard" parameterType="com.soninlawisdice.vo.Board_writeVO">
		insert into board (bw_no, m_no, bt_no, s_no, bw_title, bw_content, bw_hit, bw_recommended_num, bw_report_num, bw_island, bw_secret) 
		values ( board_seq.nextval, 회원번호, #{board_wirteVO.bt_no}, #{board_wirteVO.s_no},  #{board_wirteVO.bw_title}, #{board_wirteVO.bw_content},#{board_wirteVO.bName}, 0, 0, 0, 0, secret ) 
	</insert>
	
	
	<!-- 글 수정하기 -->
	<update id="modify">
		update board_write set bt_no = #{board_write.bt_no}, s_no = #{board_wirteVO.s_no}, bw_title = #{board_wirteVO.bw_title}, bw_content = #{board_wirteVO.bw_content}, bw_secret = secret where bw_no = #{board_wirteVO.bw_no}
	</update>
	
	
	
	
	
	
	
	
	
	
	
	<!-- 카페 리뷰 테이블 -->
	
	<!-- 추천하기 눌렀을때 cr_recommended_num 증가하는 -->
	<update id = "cafe_recommend">
		update cafe_review set cr_recommended_num = cr_recommended_num+1 where cr_no = #{cr_no}
	</update>
	
	<!-- 추천하기 후 숫자 올라가는거 ajax 로 하기위한.  -->
	<select id="cafe_rec" resultType = "string">
		select cr_recommended_num from cafe_review where cr_no = #{cr_no}
	</select>
	
	
	
	
</mapper>