<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그 내부에 sql문을 넣으면 mybatis가 알아서 해준다.. -->
<mapper namespace="com.soninlawisdice.mapper.ContentMapper">
	<!-- namespace를 만든 인터페이스와 맞춰주기 -->
	<!-- id를 service의 함수명과 맞춰주기 -->
	<!-- resultType을 지정해주면 해당 클래스 타입으로 결과값이 저장된다. -->
	
	<!-- Board_writeVO resultMap -->
	<resultMap type="com.soninlawisdice.vo.Board_writeVO"
		id="Board_writeVO">
		<id column="bw_no" property="bw_no" />
		<result column="bt_no" property="bt_no" />
		<result column="m_no" property="m_no" />
		<result column="s_no" property="s_no" />
		<result column="bw_title" property="bw_title" />
		<result column="bw_content" property="bw_content" />
		<result column="bw_written_date" property="bw_written_date" />
		<result column="bw_updated_date" property="bw_updated_date" />
		<result column="bw_hit" property="bw_hit" />
		<result column="bw_recommend_num" property="bw_recommend_num" />
		<result column="bw_report_num" property="bw_report_num" />
		<result column="bw_island" property="bw_island" />
		<result column="bw_secret" property="bw_secret" />

		<collection javaType="com.soninlawisdice.vo.Board_typeVO"
			property="board_typeVO">
			<id column="bt_no" property="bt_no" />
			<result column="bt_name" property="bt_name" />
		</collection>

		<collection javaType="com.soninlawisdice.vo.MemberVO"
			property="memberVO">
			<id column="m_no" property="m_no" />
			<result column="m_name" property="m_name" />
		</collection>

		<collection javaType="com.soninlawisdice.vo.SubjectVO"
			property="subjectVO">
			<id column="s_no" property="s_no" />
			<result column="s_content" property="s_content" />
		</collection>
	</resultMap>

	<!-- list에서 id값을 가져와야하는데 그렇게 못해서 '부적합한 열 유형'이런 에러가 난 것. list 생기면 jdbcType=INTEGER이거 
		없애도 됨. --> <!-- #{bw_no, jdbcType=INTEGER} -->
	<!-- 게시글 보기(content_view) -->
	<select id="selectContentOne" parameterType="int"
		resultMap="Board_writeVO">
		SELECT BW.BW_NO, BW.BW_TITLE, BW.BW_CONTENT,
		BW.BW_WRITTEN_DATE, BW.BW_UPDATED_DATE, BW.BW_HIT,
		BW.BW_RECOMMEND_NUM, BW.BW_REPORT_NUM, BW.BW_ISLAND, BW.BW_SECRET,
		M.M_NAME, BT.BT_NAME, S.S_CONTENT
		FROM BOARD_WRITE BW, MEMBER M,
		BOARD_TYPE BT, SUBJECT S
		WHERE BW.M_NO = M.M_NO AND BW.BT_NO = BT.BT_NO
		AND BW.S_NO = S.S_NO AND
		BW.BW_NO = 42
	</select> <!-- ;세미콜론 금지!!!!!!!!!! -->

	<!-- list에서 id값을 가져와야하는데 그렇게 못해서 '부적합한 열 유형'이런 에러가 난 것. list 생기면 jdbcType=INTEGER이거 
		없애도 됨. -->
	<!-- 게시글 삭제 -->
	<delete id="deleteContent">
		DELETE FROM BOARD_WRITE WHERE BW_NO = 42
	</delete>

	<!-- 게시글 조회수 -->
	<update id="upHitContent">
		UPDATE BOARD_WRITE SET BW_HIT = BW_HIT + 1 WHERE
		BW_NO = 42
	</update>

	<!-- 게시글 추천수 증가 -->
	<update id="upRecommendContent">
		UPDATE BOARD_WRITE SET BW_RECOMMEND_NUM =
		BW_RECOMMEND_NUM +1 WHERE BW_NO = 42
	</update>

	<!-- 게시글 추천수 증가하는 거 받아옴 -->
	<select id="selectRecommendContent" resultType="String">
		SELECT
		BW_RECOMMEND_NUM FROM BOARD_WRITE WHERE BW_NO = 42
	</select>

	<!-- ReportVO resultMap -->
	<resultMap type="com.soninlawisdice.vo.ReportVO"
		id="ReportVO">
		<id column="r_no" property="r_no" />
		<result column="m_no" property="m_no" />
		<result column="r_type" property="r_type" />
		<result column="r_type_no" property="r_type_no" />
		<result column="r_content" property="r_content" />
		<result column="r_report_date" property="r_report_date" />

		<collection javaType="com.soninlawisdice.vo.Board_writeVO"
			property="board_writeVO">
			<id column="bw_no" property="bw_no" />
		</collection>

		<collection javaType="com.soninlawisdice.vo.MemberVO"
			property="memberVO">
			<id column="m_no" property="m_no" />
		</collection>

		<collection javaType="com.soninlawisdice.vo.CM_commentVO"
			property="cm_commentVO">
			<id column="cm_no" property="cm_no" />
		</collection>
	</resultMap>
	
	<!-- 게시글 신고글 쓰기 -->
	<insert id="insertReportBW">
		INSERT INTO REPORT (R_NO, M_NO, R_TYPE, R_TYPE_NO,
		R_CONTENT, R_REPORT_DATE)
		VALUES (REPORT_SEQ.NEXTVAL, 5, '게시글', #{r_type_no}, #{r_content},
		SYSDATE)
	</insert>
	
	<!-- m_no를 가져오기 위해 -->
	<select id="selectContentM" resultType="com.soninlawisdice.vo.MemberVO">
		SELECT M_NO FROM MEMBER WHERE M_NO = 10
	</select>
	
	<!-- 회원 신고글 쓰기 -->
	<insert id="insertReportM">
		INSERT INTO REPORT (R_NO, M_NO, R_TYPE, R_TYPE_NO,
		R_CONTENT, R_REPORT_DATE)
		VALUES (REPORT_SEQ.NEXTVAL, 5, '회원', #{r_type_no}, #{r_content},
		SYSDATE)
	</insert>
	
	<!-- cm_no를 가져오기 위해 -->
	<select id="selectContentCM" resultType="com.soninlawisdice.vo.CM_commentVO">
		SELECT CM_NO FROM CM_COMMENT WHERE CM_NO = 1
	</select>
	
	<!-- 댓글 신고글 쓰기 -->
	<insert id="insertReportCM">
		INSERT INTO REPORT (R_NO, M_NO, R_TYPE, R_TYPE_NO,
		R_CONTENT, R_REPORT_DATE)
		VALUES (REPORT_SEQ.NEXTVAL, 5, '댓글', #{r_type_no}, #{r_content},
		SYSDATE)
	</insert>

	<!-- bDate는 sysdate를 default로 테이블을 생성했었기에 별다른 입력값이 없으면 -->
	<!-- 자동으로 현재시간이 입력된다. -->
	<!-- <insert id="insertBoard"> insert into mvc_board (bId, bName, bTitle, 
		bContent, bHit, bGroup, bStep, bIndent) values (mvc_board_seq.nextval, #{bName}, 
		#{bTitle}, #{bContent}, 0, mvc_board_seq.currval, 0, 0 ) </insert> -->

	<!-- <insert id="insertBoard" parameterType="com.soninlawisdice.vo.BoardVO"> 
		insert into mvc_board (bId, bName, bTitle, bContent, bHit, bGroup, bStep, 
		bIndent) values (mvc_board_seq.nextval, #{boardVO.bName}, #{boardVO.bTitle}, 
		#{boardVO.bContent}, 0, mvc_board_seq.currval, 0, 0 ) </insert> <select id="selectBoardOne" 
		resultType="edu.bit.board.vo.BoardVO"> select bId, bName, bTitle, bContent, 
		bDate, bHit, bGroup, bStep, bIndent from mvc_board where bId=#{bId} </select> -->

</mapper>