<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soninlawisdice.mapper.ContentMapper">

<!-- ====================== 커뮤니티(일반 게시판) ======================== -->

	<!-- Board_writeVO resultMap -->
	<resultMap type="com.soninlawisdice.vo.Board_writeVO"
		id="Board_writeVO">
		<id column="bw_no" property="bw_no" />
		<result column="bt_no" property="bt_no" />
		<result column="m_no" property="m_no" />
		<result column="s_no" property="s_no" />
		<result column="bw_title" property="bw_title" />
		<result column="bw_content" property="bw_content" />
		<result column="bw_written_date" property="bw_written_date" />
		<result column="bw_updated_date" property="bw_updated_date" />
		<result column="bw_hit" property="bw_hit" />
		<result column="bw_recommend_num" property="bw_recommend_num" />
		<result column="bw_report_num" property="bw_report_num" />
		<result column="bw_island" property="bw_island" />
		<result column="bw_secret" property="bw_secret" />

		<collection javaType="com.soninlawisdice.vo.Board_typeVO"
			property="board_typeVO">
			<id column="bt_no" property="bt_no" />
			<result column="bt_name" property="bt_name" />
		</collection>

		<collection javaType="com.soninlawisdice.vo.MemberVO"
			property="memberVO">
			<id column="m_no" property="m_no" />
			<result column="m_nick" property="m_nick" />
		</collection>

		<collection javaType="com.soninlawisdice.vo.SubjectVO"
			property="subjectVO">
			<id column="s_no" property="s_no" />
			<result column="s_content" property="s_content" />
		</collection>
	</resultMap>

	<!-- 게시글 보기(content_view) -->
	<select id="selectContentOne" resultType="java.util.HashMap" parameterType="int">
		SELECT BW.BW_NO, BW.BW_TITLE, BW.BW_CONTENT,
		BW.BW_WRITTEN_DATE, BW.BW_UPDATED_DATE, BW.BW_HIT,
		BW.BW_RECOMMEND_NUM, BW.BW_REPORT_NUM, BW.BW_ISLAND, BW.BW_SECRET,
		M.M_NICK, BT.BT_NAME, BT.BT_NO, S.S_CONTENT
		FROM BOARD_WRITE BW, MEMBER M,
		BOARD_TYPE BT, SUBJECT S
		WHERE BW.M_NO = M.M_NO AND BW.BT_NO = BT.BT_NO
		AND BW.S_NO = S.S_NO AND
		BW.BW_NO = #{bw_no}
	</select> 

	<!-- 게시글 삭제 -->
	<delete id="deleteContent">
		DELETE FROM BOARD_WRITE WHERE BW_NO = #{bw_no}
	</delete>

	<!-- 게시글 조회수 -->
	<update id="upHitContent">
		UPDATE BOARD_WRITE SET BW_HIT = BW_HIT + 1 WHERE
		BW_NO = #{bw_no}
	</update>

	<!-- 게시글 추천수 증가 -->
	<update id="upRecommendContent">
		UPDATE BOARD_WRITE SET BW_RECOMMEND_NUM =
		BW_RECOMMEND_NUM +1 WHERE BW_NO = #{bw_no}
	</update>

	<!-- 게시글 추천수 증가하는 거 받아옴 -->
	<select id="selectRecommendContent" resultType="String">
		SELECT
		BW_RECOMMEND_NUM FROM BOARD_WRITE WHERE BW_NO = #{bw_no}
	</select>

	<!-- ReportVO resultMap -->
	<resultMap type="com.soninlawisdice.vo.ReportVO"
		id="ReportVO">
		<id column="r_no" property="r_no" />
		<result column="m_no" property="m_no" />
		<result column="r_type" property="r_type" />
		<result column="r_type_no" property="r_type_no" />
		<result column="r_content" property="r_content" />
		<result column="r_report_date" property="r_report_date" />

		<collection javaType="com.soninlawisdice.vo.Board_writeVO"
			property="board_writeVO">
			<id column="bw_no" property="bw_no" />
		</collection>

		<collection javaType="com.soninlawisdice.vo.MemberVO"
			property="memberVO">
			<id column="m_no" property="m_no" />
		</collection>

		<collection javaType="com.soninlawisdice.vo.CM_commentVO"
			property="cm_commentVO">
			<id column="cm_no" property="cm_no" />
		</collection>
	</resultMap>

	<!-- 게시글 신고글 쓰기 -->
	<insert id="insertReportBW">
		INSERT INTO REPORT (R_NO, M_NO, R_TYPE, R_TYPE_NO,
		R_CONTENT, R_REPORT_DATE)
		VALUES (REPORT_SEQ.NEXTVAL, #{m_no}, '게시글',
		#{r_type_no}, #{r_content},
		SYSDATE)
	</insert>

	<!-- m_no를 가져오기 위해 -->
	<select id="selectContentM"
		resultType="java.util.HashMap" parameterType="int">
		SELECT M_NO FROM MEMBER WHERE M_NO = #{m_no}
	</select>

	<!-- 회원 신고글 쓰기 -->
	<insert id="insertReportM">
		INSERT INTO REPORT (R_NO, M_NO, R_TYPE, R_TYPE_NO,
		R_CONTENT, R_REPORT_DATE)
		VALUES (REPORT_SEQ.NEXTVAL, #{m_no}, '회원',
		#{r_type_no}, #{r_content},
		SYSDATE)
	</insert>

	<!-- cm_no를 가져오기 위해 -->
	<select id="selectContentCM"
		resultType="java.util.HashMap" parameterType="int">
		SELECT CM_NO FROM CM_COMMENT WHERE CM_NO = #{cm_no}
	</select>

	<!-- 댓글 신고글 쓰기 -->
	<insert id="insertReportCM">
		INSERT INTO REPORT (R_NO, M_NO, R_TYPE, R_TYPE_NO,
		R_CONTENT, R_REPORT_DATE)
		VALUES (REPORT_SEQ.NEXTVAL, #{m_no}, '댓글',
		#{r_type_no}, #{r_content},
		SYSDATE)
	</insert>

	<!-- CM_commentVO resultMap -->
	<resultMap type="com.soninlawisdice.vo.CM_commentVO"
		id="CM_commentVO">
		<id column="cm_no" property="cm_no" />
		<result column="m_no" property="m_no" />
		<result column="cm_content" property="cm_content" />
		<result column="cm_written_date" property="cm_written_date" />
		<result column="cm_updated_date" property="cm_updated_date" />
		<result column="cm_type" property="cm_type" />
		<result column="cm_no2" property="cm_no2" />
		<result column="cm_recommend_num" property="cm_recommend_num" />
		<result column="cm_report_num" property="cm_report_num" />
		<result column="cm_rating" property="cm_rating" />
		<result column="cm_group" property="cm_group" />
		<result column="cm_step" property="cm_step" />
		<result column="cm_indent" property="cm_indent" />

		<collection javaType="com.soninlawisdice.vo.MemberVO"
			property="memberVO">
			<id column="m_no" property="m_no" />
			<result column="m_nick" property="m_nick" />
		</collection>
	</resultMap>

	<!-- 게시글 댓글 쓰기 -->
	<!-- 현재 m_no 5로 되어있음. 나중에 #{m_no}으로 고쳐야 됨. -->
	<insert id="insertCommentBW">
		INSERT INTO CM_COMMENT (CM_NO, M_NO, CM_CONTENT,
		CM_WRITTEN_DATE,
		CM_UPDATED_DATE, CM_TYPE, CM_NO2, CM_RECOMMEND_NUM,
		CM_REPORT_NUM,
		CM_RATING, CM_GROUP, CM_STEP, CM_INDENT)
		VALUES
		(CM_COMMENT_SEQ.NEXTVAL, 10, #{cm_content}, SYSDATE, SYSDATE,
		'게시판',
		#{cm_no2}, 0, 0, 0, CM_COMMENT_SEQ.CURRVAL, 0, 0)
	</insert>

	<!-- 게시글 댓글 수정하기 view에서 사용 -->
	<select id="selectCommentOne" resultType="java.util.HashMap"
		parameterType="String">
		SELECT CM.CM_NO, M.M_NO, M.M_NICK, CM.CM_CONTENT,
		CM.CM_WRITTEN_DATE, CM.CM_UPDATED_DATE, CM.CM_TYPE, CM.CM_NO2,
		CM.CM_RECOMMEND_NUM, CM.CM_REPORT_NUM, CM.CM_RATING, CM.CM_GROUP,
		CM.CM_STEP, CM.CM_INDENT
		FROM CM_COMMENT CM, MEMBER M, BOARD_WRITE BW
		WHERE CM.M_NO = M.M_NO AND
		CM.CM_NO2 = BW.BW_NO 
		AND CM.CM_TYPE = '게시판' AND CM.CM_NO = #{cm_no}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateCommentOne">
		UPDATE CM_COMMENT SET CM_CONTENT = #{cm_content}, CM_UPDATED_DATE = SYSDATE WHERE CM_NO = #{cm_no}
	</update>
	
	<!-- 댓글 목록 -->
	<select id="selectCommentList" resultType="java.util.HashMap"
		parameterType="String">
		SELECT CM.CM_NO, M.M_NO, M.M_NICK, CM.CM_CONTENT,
		CM.CM_WRITTEN_DATE, CM.CM_UPDATED_DATE, CM.CM_TYPE, CM.CM_NO2,
		CM.CM_RECOMMEND_NUM, CM.CM_REPORT_NUM, CM.CM_RATING, CM.CM_GROUP,
		CM.CM_STEP, CM.CM_INDENT
		FROM CM_COMMENT CM, MEMBER M, BOARD_WRITE BW
		WHERE CM.M_NO = M.M_NO AND
		CM.CM_NO2 = BW.BW_NO 
		AND CM.CM_TYPE = '게시판' AND CM.CM_NO2 = #{cm_no2}
		ORDER BY CM.CM_WRITTEN_DATE DESC
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment">
		DELETE FROM CM_COMMENT WHERE CM_NO = #{cm_no}
	</delete>
	
	<!-- 댓글 추천수 증가 -->
	<update id="upRecommendComment">
		UPDATE CM_COMMENT SET CM_RECOMMEND_NUM =
		CM_RECOMMEND_NUM +1 WHERE CM_NO = #{cm_no}
	</update>

	<!-- 댓글 추천수 증가하는 거 받아옴 -->
	<select id="selectRecommendComment" resultType="String">
		SELECT
		CM_RECOMMEND_NUM FROM CM_COMMENT WHERE CM_NO = #{cm_no}
	</select>
	
	
<!-- ====================== 보부상 ======================== -->
	
	<!-- t_no를 가져오기 위해 -->
	<select id="selectContentT"
		resultType="java.util.HashMap" parameterType="int">
		SELECT T_NO FROM TRADE WHERE T_NO = #{t_no}
	</select>

	<!-- 중고거래 신고글 쓰기 -->
	<insert id="insertReportT">
		INSERT INTO REPORT (R_NO, M_NO, R_TYPE, R_TYPE_NO,
		R_CONTENT, R_REPORT_DATE)
		VALUES (REPORT_SEQ.NEXTVAL, #{m_no}, '중고거래',
		#{r_type_no}, #{r_content},
		SYSDATE)
	</insert>
	
	<!-- 중고거래 댓글 쓰기 -->
	<insert id="insertCommentT">
		INSERT INTO CM_COMMENT (CM_NO, M_NO, CM_CONTENT,
		CM_WRITTEN_DATE,
		CM_UPDATED_DATE, CM_TYPE, CM_NO2, CM_RECOMMEND_NUM,
		CM_REPORT_NUM,
		CM_RATING, CM_GROUP, CM_STEP, CM_INDENT)
		VALUES
		(CM_COMMENT_SEQ.NEXTVAL, 5, #{cm_content}, SYSDATE, SYSDATE,
		'중고거래',
		#{cm_no2}, 0, 0, 0, CM_COMMENT_SEQ.CURRVAL, 0, 0)
	</insert>

	<!-- 중고거래 댓글 보기 -->
	<select id="selectCommentT" resultType="java.util.HashMap"
		parameterType="String">
		SELECT CM.CM_NO, M.M_NO, M.M_NICK, CM.CM_CONTENT,
		CM.CM_WRITTEN_DATE, CM.CM_UPDATED_DATE, CM.CM_TYPE, CM.CM_NO2,
		CM.CM_RECOMMEND_NUM, CM.CM_REPORT_NUM, CM.CM_RATING, CM.CM_GROUP,
		CM.CM_STEP, CM.CM_INDENT
		FROM CM_COMMENT CM, MEMBER M, TRADE T
		WHERE CM.M_NO = M.M_NO AND
		CM.CM_NO2 = T.T_NO 
		AND CM.CM_TYPE = '중고거래' AND CM.CM_NO2 = #{cm_no2}
	</select>
	
	
<!-- ====================== 카페리뷰 ======================== -->
	
	<!-- cr_no를 가져오기 위해 -->
	<select id="selectContentCR"
		resultType="java.util.HashMap" parameterType="int">
		SELECT CR_NO FROM CAFE_REVIEW WHERE CR_NO = #{cr_no}
	</select>

	<!-- 카페리뷰 신고글 쓰기 -->
	<insert id="insertReportCR">
		INSERT INTO REPORT (R_NO, M_NO, R_TYPE, R_TYPE_NO,
		R_CONTENT, R_REPORT_DATE)
		VALUES (REPORT_SEQ.NEXTVAL, #{m_no}, '카페리뷰',
		#{r_type_no}, #{r_content},
		SYSDATE)
	</insert>
	
	<!-- 카페리뷰 댓글 쓰기 -->
	<insert id="insertCommentCR">
		INSERT INTO CM_COMMENT (CM_NO, M_NO, CM_CONTENT,
		CM_WRITTEN_DATE,
		CM_UPDATED_DATE, CM_TYPE, CM_NO2, CM_RECOMMEND_NUM,
		CM_REPORT_NUM,
		CM_RATING, CM_GROUP, CM_STEP, CM_INDENT)
		VALUES
		(CM_COMMENT_SEQ.NEXTVAL, 5, #{cm_content}, SYSDATE, SYSDATE,
		'카페리뷰',
		#{cm_no2}, 0, 0, 0, CM_COMMENT_SEQ.CURRVAL, 0, 0)
	</insert>

	<!-- 카페리뷰 댓글 보기 -->
	<select id="selectCommentCR" resultType="java.util.HashMap"
		parameterType="String">
		SELECT CM.CM_NO, M.M_NO, M.M_NICK, CM.CM_CONTENT,
		CM.CM_WRITTEN_DATE, CM.CM_UPDATED_DATE, CM.CM_TYPE, CM.CM_NO2,
		CM.CM_RECOMMEND_NUM, CM.CM_REPORT_NUM, CM.CM_RATING, CM.CM_GROUP,
		CM.CM_STEP, CM.CM_INDENT
		FROM CM_COMMENT CM, MEMBER M, CAFE_REVIEW CR
		WHERE CM.M_NO = M.M_NO AND
		CM.CM_NO2 = CR.CR_NO 
		AND CM.CM_TYPE = '카페리뷰' AND CM.CM_NO2 = #{cm_no2}
	</select>
	
</mapper>