<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그 내부에 sql문을 넣으면 mybatis가 알아서 해준다.. -->
<mapper namespace="com.soninlawisdice.mapper.IslandMapper">
	<!-- resultType을 지정해주면 해당 클래스 타입으로 결과값이 저장된다. -->
	
	<!-- ========== for island list =========== -->
	<resultMap type="com.soninlawisdice.vo.MemberVO" id="MemberVO">
	
	</resultMap>
	
	<select id="selectTradeIslandList"
		resultType="com.soninlawisdice.vo.TradeVO">
		SELECT TRADE.* FROM TRADE 
		WHERE T_ISLAND != 0 
		ORDER BY T_WRITTEN_DATE DESC
	</select> <!-- ;세미콜론 금지!!!!!!!!!! -->

	<select id="selectBoard_writeIslandList"
		resultType="com.soninlawisdice.vo.Board_writeVO">
		SELECT BOARD_WRITE.* FROM BOARD_WRITE 
		WHERE BW_ISLAND != 0 
		ORDER BY BW_WRITTEN_DATE DESC
	</select> <!-- ;세미콜론 금지!!!!!!!!!! -->
	
	<select id="selectCafe_reviewIslandList"
		resultType="com.soninlawisdice.vo.Cafe_reviewVO">
		SELECT CAFE_REVIEW.* FROM CAFE_REVIEW 
		WHERE CR_ISLAND != 0 
		ORDER BY CR_WRITTEN_DATE DESC
	</select> <!-- ;세미콜론 금지!!!!!!!!!! -->


<!-- SELECT T.*, M.M_NICK FROM TRADE T, MEMBER M 
WHERE T_ISLAND != 0 AND T.M_NO = M.M_NO
ORDER BY T_WRITTEN_DATE DESC;  

SELECT T.*, M.M_NICK FROM TRADE T left join MEMBER M 
on T.M_NO = M.M_NO
WHERE T_ISLAND != 0 
ORDER BY T_WRITTEN_DATE DESC; -->


</mapper>