<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그 내부에 sql문을 넣으면 mybatis가 알아서 해준다.. -->
<mapper namespace="com.soninlawisdice.mapper.IslandMapper">
	<!-- resultType을 지정해주면 해당 클래스 타입으로 결과값이 저장된다. -->
	
	
	<!-- ========== 개별 리스트 3개 =========== -->
	<select id="selectTradeIslandList" resultType="com.soninlawisdice.vo.TradeVO">
		SELECT T.*, M.M_NICK 
		FROM TRADE T LEFT JOIN MEMBER M 
		ON T.M_NO = M.M_NO
		WHERE T_ISLAND != 0 
		ORDER BY T_WRITTEN_DATE DESC
	</select> <!-- ;세미콜론 금지!!!!!!!!!! -->

	<select id="selectBoard_writeIslandList" resultType="com.soninlawisdice.vo.Board_writeVO">
		SELECT BW.*, M.M_NICK
        FROM BOARD_WRITE BW
        LEFT JOIN MEMBER M
        ON BW.M_NO = M.M_NO
		WHERE BW_ISLAND != 0 
		ORDER BY BW_WRITTEN_DATE DESC
	</select> 
	
	<select id="selectCafe_reviewIslandList" resultType="com.soninlawisdice.vo.Cafe_reviewVO">
        SELECT CR.*, M.M_NICK
        FROM CAFE_REVIEW CR
        LEFT JOIN MEMBER M
        ON CR.M_NO = M.M_NO
		WHERE CR_ISLAND != 0 
		ORDER BY CR_WRITTEN_DATE DESC
	</select> 
	
	<!-- ========== for island list =========== -->
	<select id="selectIslandList" resultType="java.util.HashMap" parameterType="com.soninlawisdice.vo.SearchCriteria" >
		SELECT
				*
		FROM
			(
			SELECT
				ROW_NUMBER() OVER(ORDER BY I_WRITTEN_DATE ASC, I_NO ASC) AS RNUM,
				ROW_NUMBER() OVER(ORDER BY I_WRITTEN_DATE DESC, I_NO DESC) AS RNUM_COUNT,
				I.*
			FROM
				(
				        (
					        SELECT 
					        		T.T_NO AS I_NO, T.BT_NO, T.S_NO, T.M_NO, M.M_NICK, M.M_ID, T.T_TITLE AS I_TITLE, T.T_CONTENT AS I_CONTENT, 
					                T.T_WRITTEN_DATE AS I_WRITTEN_DATE, T.T_UPDATED_DATE AS I_UPDATED_DATE, 
					                T.T_HIT AS I_HIT, T.T_RECOMMEND_NUM AS I_RECOMMEND_NUM, T.T_REPORT_NUM AS I_REPORT_NUM, T.T_ISLAND AS I_ISLAND 
					        FROM 	
					        		TRADE T 
					        LEFT JOIN 
					        		MEMBER M 
					        ON 		
					        		T.M_NO = M.M_NO
					        WHERE 	
					        		T_ISLAND != 0 ) 
					
					UNION
					
							(SELECT 
									BW.BW_NO AS I_NO, BW.BT_NO, BW.S_NO, BW.M_NO, M.M_NICK, M.M_ID, BW.BW_TITLE  AS I_TITLE, BW.BW_CONTENT AS I_CONTENT, 
									BW.BW_WRITTEN_DATE AS I_WRITTEN_DATE, BW.BW_UPDATED_DATE AS I_UPDATED_DATE, 
					                BW.BW_HIT AS I_HIT, BW.BW_RECOMMEND_NUM AS I_RECOMMEND_NUM, BW.BW_REPORT_NUM AS I_REPORT_NUM, BW.BW_ISLAND AS I_ISLAND 
					        FROM 
					        		BOARD_WRITE BW
					        LEFT JOIN 
					        		MEMBER M
					        ON 
					        		BW.M_NO = M.M_NO
							WHERE 
									BW_ISLAND != 0 ) 
					
					UNION
					
					        (SELECT 
					        		CR.CR_NO AS I_NO, CR.BT_NO, NULL, CR.M_NO, M.M_NICK, M.M_ID, CR.CR_TITLE AS I_TITLE, CR.CR_CONTENT AS I_CONTENT, 
				                    CR.CR_WRITTEN_DATE AS I_WRITTEN_DATE, CR.CR_UPDATED_DATE AS I_UPDATED_DATE, 
				                    CR.CR_HIT AS I_HIT, CR.CR_RECOMMEND_NUM AS I_RECOMMEND_NUM, CR.CR_REPORT_NUM AS I_REPORT_NUM, CR.CR_ISLAND AS I_ISLAND
					        FROM 
					        		CAFE_REVIEW CR
					        LEFT JOIN 
					        		MEMBER M
					        ON 
					        		CR.M_NO = M.M_NO
							WHERE 
									CR_ISLAND != 0 ) 
					) I
			ORDER BY 
				RNUM DESC
				) 
		WHERE 
			RNUM_COUNT BETWEEN ${rowStart} AND ${rowEnd} 
			<include refid="islandSearch"></include>
		ORDER BY 
			RNUM DESC
					
	</select> 
	<!-- UNION한 결과테이블을 다시 감싸서 RNUM 구하고, 그 결과에 다시 WHERE 절을 해야... 정상 작동함... -->
	
	
	<select id="islandListCount" parameterType="com.soninlawisdice.vo.SearchCriteria" resultType="int">
			
		SELECT
				COUNT(*)
		FROM
			(
				
			        (SELECT 
			        		T.T_NO AS I_NO, T.BT_NO, T.S_NO, T.M_NO, M.M_NICK, T.T_TITLE AS I_TITLE, T.T_CONTENT AS I_CONTENT, 
			                T.T_WRITTEN_DATE AS I_WRITTEN_DATE, T.T_UPDATED_DATE AS I_UPDATED_DATE, 
			                T.T_HIT AS I_HIT, T.T_RECOMMEND_NUM AS I_RECOMMEND_NUM, T.T_REPORT_NUM AS I_REPORT_NUM, T.T_ISLAND AS I_ISLAND 
			        FROM 	
			        		TRADE T 
			        LEFT JOIN 
			        		MEMBER M 
			        ON 		
			        		T.M_NO = M.M_NO
			        WHERE 	
			        		T_ISLAND != 0 ) 
			
			UNION
			
					(SELECT 
							BW.BW_NO AS I_NO, BW.BT_NO, BW.S_NO, BW.M_NO, M.M_NICK, BW.BW_TITLE  AS I_TITLE, BW.BW_CONTENT AS I_CONTENT, 
							BW.BW_WRITTEN_DATE AS I_WRITTEN_DATE, BW.BW_UPDATED_DATE AS I_UPDATED_DATE, 
			                BW.BW_HIT AS I_HIT, BW.BW_RECOMMEND_NUM AS I_RECOMMEND_NUM, BW.BW_REPORT_NUM AS I_REPORT_NUM, BW.BW_ISLAND AS I_ISLAND 
			        FROM 
			        		BOARD_WRITE BW
			        LEFT JOIN 
			        		MEMBER M
			        ON 
			        		BW.M_NO = M.M_NO
					WHERE 
							BW_ISLAND != 0 ) 
			
			UNION
			
			        (SELECT 
			        		CR.CR_NO AS I_NO, CR.BT_NO, NULL, CR.M_NO, M.M_NICK, CR.CR_TITLE AS I_TITLE, CR.CR_CONTENT AS I_CONTENT, 
		                    CR.CR_WRITTEN_DATE AS I_WRITTEN_DATE, CR.CR_UPDATED_DATE AS I_UPDATED_DATE, 
		                    CR.CR_HIT AS I_HIT, CR.CR_RECOMMEND_NUM AS I_RECOMMEND_NUM, CR.CR_REPORT_NUM AS I_REPORT_NUM, CR.CR_ISLAND AS I_ISLAND
			        FROM 
			        		CAFE_REVIEW CR
			        LEFT JOIN 
			        		MEMBER M
			        ON 
			        		CR.M_NO = M.M_NO
					WHERE 
							CR_ISLAND != 0 ) 							
			)			
		WHERE 
			1=1
			<include refid="islandSearch"></include>

	</select>
	
	
	<sql id="islandSearch">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND I_TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND I_CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND M_NICK LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">
				AND (I_TITLE LIKE '%' || #{keyword} || '%') or (I_CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>


</mapper>