<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그 내부에 sql문을 넣으면 mybatis가 알아서 해준다.. -->
<mapper namespace="com.soninlawisdice.mapper.LoginMapper">

	<select id="login" resultType="com.soninlawisdice.vo.MemberVO">
		select * from member 
		where m_id = #{m_id} and m_pw = #{m_pw}
	</select>
	
</mapper>