<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그 내부에 sql문을 넣으면 mybatis가 알아서 해준다.. -->
<mapper namespace="com.soninlawisdice.mapper.SecondhandMapper">
	<!-- namespace를 만든 인터페이스와 맞춰주기 -->
	<!-- id를 service의 함수명과 맞춰주기 -->
	<!-- resultType을 지정해주면 해당 클래스 타입으로 결과값이 저장된다. -->
	
	<!-- ========== for island list =========== -->

<!-- 	<resultMap id="rankMap" type="com.soninlawisdice.vo.RankVO" >
			<id column="r_no" property="r_no"/>
			<result column="r_name" property="r_name"/>	
	</resultMap>

	<resultMap id="memberMap" type="com.soninlawisdice.vo.MemberVO" >
			<id column="m_no" property="m_no"/>
			<result column="m_id" property="m_id"/>	
			<result column="m_nick" property="m_nick"/>
			<result column="m_id" property="m_id"/>
			<collection property="" ResultMap="해시맵ㄱㄱ"></collection>
	</resultMap> -->
	
	<select id="selectTradeList" resultType="java.util.HashMap" >
	
		SELECT 
			*
		FROM (
				SELECT 
					T.*, M.M_NICK, M.M_ID, S.S_CONTENT, ROW_NUMBER() OVER(ORDER BY T_NO DESC) AS RNUM 
				FROM
					TRADE T
				LEFT JOIN
					MEMBER M
				ON 
					T.M_NO = M.M_NO
				LEFT JOIN
					SUBJECT S
				ON 
					T.S_NO = S.S_NO					
				WHERE 
					1=1 
					<include refid="subjectSearch"></include>
					<include refid="tradeSearch"></include>
			) 
		WHERE 
			RNUM BETWEEN #{scri.rowStart} AND #{scri.rowEnd}
		ORDER BY
			T_NO DESC
				
	</select> <!-- 1=1 조건 달아야, 처음에 검색어 없이 호출시에도, WHERE 하나만 남아서 BadGrammarException이 뜨지 않는다.. -->
	
	<select id="tradeListCount" resultType="int">

			SELECT 
				COUNT(T.T_NO)
			FROM 
				TRADE T
			LEFT JOIN
				MEMBER M
			ON 
				T.M_NO = M.M_NO
			LEFT JOIN
				SUBJECT S
			ON 
				T.S_NO = S.S_NO	
			WHERE 
				1=1 
				<include refid="subjectSearch"></include>	
				<include refid="tradeSearch"></include>
				AND T_NO > 0

	</select>
	
	<sql id="tradeSearch">
		<if test="scri.searchType != null">
			<if test="scri.searchType == 't'.toString()">AND T_TITLE LIKE '%' || #{scri.keyword} || '%'</if>
			<if test="scri.searchType == 'c'.toString()">AND T_CONTENT LIKE '%' || #{scri.keyword} || '%'</if>
			<if test="scri.searchType == 'w'.toString()">AND M_NICK LIKE '%' || #{scri.keyword} || '%'</if>
			<if test="scri.searchType == 'tc'.toString()">
					AND (T_TITLE LIKE '%' || #{scri.keyword} || '%') or (T_CONTENT LIKE '%' || #{scri.keyword} || '%')</if>
		</if>
	</sql>
	
	<sql id="subjectSearch">
		<if test="s_content != null">
			<if test="s_content == 's'.toString()">AND S_CONTENT LIKE '판매중'</if>
			<if test="s_content == 'b'.toString()">AND S_CONTENT LIKE '구매중'</if>
			<if test="s_content == 'c'.toString()">AND S_CONTENT LIKE '거래완료'</if>
		</if>
	</sql>

</mapper>