<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그 내부에 sql문을 넣으면 mybatis가 알아서 해준다.. -->
<mapper namespace="com.soninlawisdice.mapper.SponsorMapper">
	<!-- namespace를 만든 인터페이스와 맞춰주기 -->
	<!-- id를 service의 함수명과 맞춰주기 -->
	<!-- resultType을 지정해주면 해당 클래스 타입으로 결과값이 저장된다. -->
	
	
	<!-- 후원 insert -->	
	<insert id="insertSponsor">
	
		INSERT 
		INTO
		    SPONSOR 
		    (SP_NO, M_NO, SP_MONEY, SP_DATE) 
		VALUES 
		    (SPONSOR_SEQ.NEXTVAL, #{sponsor}, #{amount}, SYSDATE )
		    
	</insert>
	
	
	<!-- 방금 생성한 거 가져오기 -->
	<select id = "selectSponsorLatest" resultType="java.util.HashMap">
	
		SELECT 
			* 
		FROM
			(SELECT 
				ROWNUM AS RNUM, SP.*
			FROM
				SPONSOR SP
			WHERE
				M_NO = #{sponsor} AND SP_MONEY = #{amount}
			ORDER BY
				SP_NO DESC)			
		WHERE RNUM = 1
		
	
	</select>
	
	
	<!-- select sponsor list -->
	<select id = "selectSponsorList" resultType="java.util.HashMap">
	
		SELECT
			SP.*
		FROM
			SPONSOR SP
	
	</select>
	
	<!-- select sponsor one -->
	<select id = "selectSponsorOne" resultType="java.util.HashMap">
	
		SELECT
			SP.*
		FROM
			SPONSOR SP
		WHERE
			M_NO = #{m_no}
	
	</select>
	


</mapper>