/* =================================
------------------------------------
  EndGam - Gaming Magazine Template
  Version: 1.0
 ------------------------------------
 ====================================*/

/* 폰트 */
@font-face {
	font-family: 'designhouseBold';
	src: url("designhouseBold.ttf") format('truetype');
}

@font-face {
	font-family: 'dunggeunmo';
	src: url("DungGeunMo.ttf") format('truetype');
}

/* 정선동강 REGULAR */
@font-face {
	font-family: 'JSDongkang-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff')
		 format('woff');
	font-weight: normal;
	font-style: normal;
}
/* 정선동강 BOLD */
@font-face {
	font-family: 'JSDongkang-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-BoldA1.woff')
		 format('woff');
	font-weight: normal;
	font-style: normal;	
}

.cafe-map {
	width: 100%;
	margin: 0 auto;
	background: #fff;
}

.cafe-wrap {
	width: 100%;
	min-height: 100vh;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@media screen and (max-width : 768px){
	.menu_wrap {
		display : none;
	}
}


/* 
.listName{
	margin : 20px 0 30px 0;
	display : block;
} */

.btn_div{
	padding : 10px;
	text-align : right;
}

.list_btn{
	background : red;
	border : none;
	color : #fff;
	padding : 5px 10px;
	border-radius : 10px;
}

.list_btn:hover{
	cursor: pointer;
}

button:focus{
	outline : none !important;
}
.map_wrap {
	display: block;
	font-family : JSDongkang-Bold;
	
	/* margin-top: 30px; */
}

ul{
	padding-inline-start: 10px;
}

.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	position: relative;
	margin: 13px 0 0 90px;
	height: 75px;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	/* background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png') */
}

.info .link {
	color: #5085BB;
}

.map_wrap #map {
	float: left;
}

.map_wrap #menu_wrap {
	float: left;
	background: rgba(30, 10, 55, 0.1);
	width: 310px;
	height: 700px;
	padding: 5px;
	overflow-y: auto;
	border-radius: 10px;
	font-size: 12px;
	margin: 0px 10px 30px 10px;
}

.map_wrap #menu_wrap .option {
	padding: 5px;
}

#menu_wrap #keyword {
	width: 180px;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	padding-left: 5px;
	font-size: 16px;
}

#menu_wrap button {
	width: 70px;
	height: 30px;
	color: #fff;
	font-size: 13px;
	background: rgba(108, 122, 224, 0.4);
}

#menu_wrap button:hover {
	cursor: pointer;
}

#menu_wrap hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid rgba(30, 10, 55, 0.3);
	margin: 3px 0;
}

/* #menu_wrap .option{
	text-align : center;
} */

/* #menu_wrap .option p{
	margin : 10px 0;
}
 */
#menu_wrap .option button {
	list-style: none;
	border-radius: 5px;
	border: none;
}

#placesList li {
	list-style: none;
}

#placesList .item {
	position: relative;
	border-bottom: 1px solid #888;
	overflow: hidden;
	cursor: pointer;
	min-height: 65px;
}

#placesList .item span {
	display: block;
	margin-top: 4px;
}

#placesList .item h5, #placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	/* 왼쪽에 보라색 리스트 정보들 왼쪽 정렬 */
	text-align: left;
}

#placesList .item .info {
	padding: 10px 0 10px 55px;
}

#placesList .info .gray {
	color: #8a8a8a;
}

#placesList .info .jibun {
	padding-left: 26px;
	background:
		url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
		no-repeat;
}

#placesList .info .tel {
	color: #009900;
}

#placesList .item .markerbg {
	float: left;
	position: absolute;
	width: 36px;
	height: 37px;
	margin: 10px 0 0 10px;
	background:
		url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
		no-repeat;
}

.infowindow {
	alignt-items : center;
	text-align: center;
	
}

#placesList .item .marker_1 {
	background-position: 0 -10px;
}

#placesList .item .marker_2 {
	background-position: 0 -56px;
}

#placesList .item .marker_3 {
	background-position: 0 -102px
}

#placesList .item .marker_4 {
	background-position: 0 -148px;
}

#placesList .item .marker_5 {
	background-position: 0 -194px;
}

#placesList .item .marker_6 {
	background-position: 0 -240px;
}

#placesList .item .marker_7 {
	background-position: 0 -286px;
}

#placesList .item .marker_8 {
	background-position: 0 -332px;
}

#placesList .item .marker_9 {
	background-position: 0 -378px;
}

#placesList .item .marker_10 {
	background-position: 0 -423px;
}

#placesList .item .marker_11 {
	background-position: 0 -470px;
}

#placesList .item .marker_12 {
	background-position: 0 -516px;
}

#placesList .item .marker_13 {
	background-position: 0 -562px;
}

#placesList .item .marker_14 {
	background-position: 0 -608px;
}

#placesList .item .marker_15 {
	background-position: 0 -654px;
}

#pagination {
	margin: 10px auto;
	text-align: center;
}

#pagination a {
	display: inline-block;
	margin-right: 10px;
}

#pagination .on {
	font-weight: bold;
	cursor: default;
	color: #777;
}

