/* =================================
------------------------------------
  EndGam - Gaming Magazine Template
  Version: 1.0
 ------------------------------------
 ====================================*/

/* 폰트 */
@font-face {
	font-family: 'designhouseBold';
	src: url("designhouseBold.ttf") format('truetype');
}

@font-face {
	font-family: 'dunggeunmo';
	src: url("DungGeunMo.ttf") format('truetype');
}

@font-face { 
	font-family: 'JSDongkang-Regular'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

/* 1 */
.write-section {
	width: 100%;
	margin: 0 auto;
	font-family : JSDongkang-Regular;
	/* background : red; */
}

/* 2 */
.write-container {
	width: 100%;
	min-height: 100vh;
	/* background: #fff; */
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-wrap: wrap;
	padding-top : 90px;
	/* margin-top: 90px; */
	/* background : blue; */
}

/* 3 */
.write-view {
	width: 1200px;
	margin-top: 10px;
	padding-top : 10px;
	padding-left : 80px;
	padding-right : 80px;
	padding-bottom : 30px;
	overflow: hidden;
	/* background : yellow; */
	border-radius : 30px;
}

@media screen and (max-width : 768px) {
	.write-view {
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 10px;
	}
}

/* 3-1 */
.writeName {
	float: left;
	margin: 20px 0 30px 0;
	/* display : block; */
	padding : 10px;
	border-radius: 5px 25px 0 0;
	background-color : rgb(98, 84, 115);
	
	/* color : #fff; */
}

.writeName h3{
	color : #fff;
	
}

@media screen and (max-width : 768px){
	.write-view{
		margin-left: 10px;
    	margin-right: 10px;
    	padding-right: 10px;
    	padding-left: 10px;
	}
}

.square{
	width : 100%;
    height: 10px;
    background: rgb(98, 84, 115);
    margin-top: 71px;
 	
}

form{
	margin-top : -100px;
}


/* question_write_view */
.question-square {
	width : 100%;
    height: 10px;
    background: rgb(98, 84, 115);
    margin-top: 71px;
 	
}


/* cafe-review-write */
.cafe-square{
	width : 100%;
    height: 10px;
    background: rgb(98, 84, 115);
    margin-top: 71px;
}




/* 3-2 */
.write-table {
	width: 100%;
	display: table;
	margin-top: 100px;
}

.write-table textarea {
	width: 780px;
	height: 400px;
	resize: none;
	border: none;
}

.write-table input {	
	border: none;
	width: 100%; /* input이 화면 크기에 상관없이 적절하게 나옴 */
}


.write-table input[type="file"] {
	border: 1px solid #f2f2f2;
}

/* .write-table .row .file{
	border : 1px solid #f2f2f2;
	width : 600px;
} */
.write-table select {
	height: 25px;
	padding-left: 3px;
	border-radius: 5px;
	background: #fff;
}

.row {
	display: table-row;
	background: #fff;
}

.cell {
	display: table-cell;
}

.row .cell {
	font-size: 16px;
	color: black;
	line-height: 1.2;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f2f2f2;
}

@media ( max-width : 768px) {
	.row {
		display: block;
	}
	.cell {
		display: block;
	}
	.row .cell:nth-child(1) {
		/* display: none; */
	}
	.write-table, .row, .cell {
		width: 100%;
	}
	.write-table textarea {
		height: 270px;
	}
}

::-webkit-input-placeholder {
	color: #bfbfbf;
}

:-ms-input-placeholder {
	color: #bfbfbf;
}

::-ms-input-placeholder {
	color: #bfbfbf;
}

::placeholder {
	color: #bfbfbf;
}

.row .cell:nth-child(1) {
	width: 150px;
	/* text-align: center; */
	padding-top: 10px;
	padding-bottom: 10px;
	/* padding-left : 50px;
	padding-right : 30px; */
}

.row .cell:nth-child(2) {
	padding-left: 10px;
	border-left: 1px solid #f2f2f2;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* list : 목록가기 버튼, write-btn : 작성 버튼  */
.list {
	margin-top: 35px;
	float: left;
	cursor: pointer;
	border-radius: 10px;
	padding: 4px 14px;
	border: 1px solid rgba(198, 198, 236, 0.7);
	background: #1E0A37;
	opacity: 0.7;
	color: #fff;
}

.write-btn {
	margin-top: 35px;
	float: right;
	cursor: pointer;
	border-radius: 10px;
	padding: 4px 14px;
	border: 1px solid rgba(198, 198, 236, 0.6);
	background: #1E0A37;
	opacity: 0.7;
	color: #fff;
}

/* 수정페이지도 이 css 쓰기때문에 이거 여기있음  */
.modify-btn{
	margin-top: 35px;
	float: right;
	cursor: pointer;
	border-radius: 10px;
	padding: 4px 14px;
	border: 1px solid rgba(198, 198, 236, 0.7);
	background: #1E0A37;
	opacity: 0.7;
	color: #fff;
}

.list:hover {
	border: 1px solid rgba(198, 198, 236, 0.7);
	background: #fff;
	color : black;
	opacity: 1;
}

.write-btn:hover {
	/* background: #1E0A37;
	opacity: 0.3;
	color: #fff; */
	border: 1px solid rgba(198, 198, 236, 0.7);
	background: #fff;
	color : black;
	opacity: 1;
}

.modify-btn:hover{
	border: 1px solid rgba(198, 198, 236, 0.7);
	background: #fff;
	color : black;
	opacity: 1;
}



@media screen and (max-width : 768) {
	.list {
		margin-bottom: 10px;
	}
	.write-btn {
		margin-bottom: 10px;
	}
}

input:focus, select:focus, button:focus, textarea:focus {
	outline: none!important; 
}


/* 비밀글 체크 부분 */
/*
.cell input[type="checkbox"]{
	display : none;
}
.cell label{
	width : 100%;
	height : 20px;
}

.cell input[type="checkbox"] + label .chk_img{
	padding : 0 0 0 30px;
	height : 20px;
	background : url("../../images/board_hs/unlock.png") no-repeat;
	cursor:pointer;
}

.cell input[type="checkbox"]:checked + label .chk_img {
	background:url("../../images/board_hs/lock.png")no-repeat;
}

*/

.secret{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the default checkbox */
.secret input{
	position : absolute;
	opacity : 0;
	cursor : pointer;
	height : 0;
	width : 0;
}
/* Create a custom checkbox  */
.checkmark{
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}
/* On mouse-over, add a grey background color */
.secret:hover input ~ .checkmark {
  background-color: #e8e8e8;
}

/* When the checkbox is checked, add a blue background */
.secret input:checked ~ .checkmark {
  background-color: #1E0A37;
  opacity : 0.7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.secret input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.secret .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*tagsinput 부분  */
.badge-info {
	background : red !important;
}

/* ckEditor 부분 */

.ck.ck-editor{
	max-width : 1200px;
}

.ck-editor__editable{
	min-height : 500px;
}


.ck.ck-toolbar {
	background : #fff!important;
	}
	
.ck.ck-editor__editable_inline{
	/* padding : var(--ck-spacing-standard) !important; */
}

