.allCheck { float:left; width:200px; }
.allCheck input { width:16px; height:16px; }
.allCheck label { margin-left:10px; }
.delBtn { float:right; width:290px; text-align:right; }
.delBtn button { font-size:18px; padding:5px 10px; border:1px solid #eee; background:#eee;}

.checkBox { float:left; width:30px; }
.checkBox input { width:16px; height:16px; }

/* input 타입 버튼 보더 없애기 보이게 하기 */
.select_note{
	-webkit-appearance: media-slider;
	background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.btn-receive.active{
	color:#eee;	
}

.btn-send.active{
	color:#eee;	
}

.btn-receive{
	float: left;
	color:none;
	border: 1px solid #CCC;
	padding: 10px;
	margin:2px;
    cursor: pointer;
}
.btn-send{
	float: left;
	color:none;
	border: 1px solid #CCC;
	padding: 10px;
	margin:2px;
    cursor: pointer;

}


/* 경고글자 사이즈, 색 조절 */
.check_font {
	color: red;
	font-size: 13px
}